body{
	font-size: 16px;
	background: gray;
}
body > header{
	background: black;
	width: 99%;
	position: fixed;
}
.menu{
	font-size:17px;
	margin-left: 50%;
}
.logo{
	float: left;
	margin-left: 5%;
	margin-top: 1%;
	vertical-align: middle;
}
.boton{
	font-weight: 900;
	padding: 10px;
	width: 20%;
	background-color: white;
	border-radius: 10px;
}
li a{
	color: black;
	text-decoration: none;
	margin:20%;
}
a:hover{
	color: white;
}
li:hover{
	background:gray;
}

#imagenes{
	width: 100%;
}
#imagenes > img{
	width: 15%;
	height: 120px;
	margin-top: 13%;
	margin-left: 8%;
	float: left;
}
#imagenes > span{
	margin-top: 13%;
	margin-left: -15px;
	float: left;
}
.inline-bck{
	display: inline-block;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.bck {
	display: block;
}
.link:hover{
	color:white;
	background: black;
}
#opciones > input{
	margin-top: 10%;
	margin-left: 10%;
}
.tamDivText{
	margin-left: 10%;
	margin-top: 5%;
	width: 35%;
	height: 20px;
}
.cerrar{
	color: gray;
	background:white;
	padding: 2px;
	size: 15px;
}
.cerrar:hover{
	color: white;
	background: black;
	cursor: pointer;
}